/* =========================
  ヘッダー
========================= */

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 120px; /* 通常時と小さい時の最大値 */
}

.header-bg {
  background: #fff;
}


/* 横並びの土台 */
.header-inner {
  width: 100%;
  padding: 16px 40px 0px;
  display: flex;
  align-items: center;
  transition: padding 0.3s ease;
}

/* ロゴ */
.header-logo img {
  height: 48px;
}

/* ← ここが重要 */
.header-nav {
  margin-left: auto;   /* ナビ全体を右端へ */
}

/* ナビ中身 */
.header-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav li a {
  font-size: 18px;
}

/* ご予約だけ大きく */
.header-nav .reserve a {
  font-size: 22px;          /* 文字を少し大きく */
  padding: 12px 26px;       /* ボタンを大きく */
  background: #e94e77;
  color: #fff;
  border-radius: 999px;
  border: 2px solid #e94e77;
  font-weight: 700;
  position: relative;
  z-index: 5;
}

.header-nav .reserve a:hover {
  background: #d63f67;
}


/* =========================
  ヘッダー下の波線（下向き）
========================= */

.header-wave {
  width: 100%;
  height: 60px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-size: 40px 40px;
  background-repeat: repeat-x;
  transition: transform 0.3s ease;
}

/* スクロール後（ギュッ） */
.header.is-small .header-wave {
  transform: translateY(-25px); /* ← 上に寄せるだけ */
}


/* ぬるっと変化させる */
.header-inner,
.header-logo img {
  transition: 0.3s ease;
}

/* スクロール後（上だけギュッ） */
.header.is-small .header-inner {
  padding-top: 6px;
  padding-bottom: 0px;
}

.header.is-small .header-logo img {
  height: 25px; /* 通常48px → 小さく */
}


