/*------------------------------*/
body {
  font-family: "Shippori Mincho", serif, 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  align-items: center; /* ロゴとナビの垂直位置を揃える */
  text-align: left;
}

.top img {
  width: 16vw;
  margin-left: 1.5vw;
}

.top-line {
  width: 100%;
  height: 0.5vw; 
  background-color: #3c803c;
  margin: 0; 
  padding: 0; 
}

.header {
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3%;
  color: rgb(255, 255, 255);
  z-index: 10; /* 他のコンテンツより上に表示 */
  background-color: rgba(255, 255, 255); /* 白の半透明背景 */
  display: flex;
  justify-content: space-between; /* ロゴとナビを左右に配置 */
  align-items: center; /* 高さを中央揃え */
}

nav ul {
  list-style-type: none;
  display: flex; /* 横並びにする */
  gap: 3.5vw; /* アイテム間のスペースを調整 (例: 1remに設定) */
}

nav ul li a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  font-size: 0.9vw;
  white-space: nowrap; /* テキストが折り返されないように設定 */
}

nav ul li:last-child a {
  margin-right: 3vw; /* 右側に余白を追加 */
}

nav ul li a:hover {
  text-decoration: underline;
  color: #3c803c;
}

/*---------------------------------*/

.menuphoto {
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden; 
}

.menuphoto img {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.menu-text {
  position: absolute;
  top: 50%; /* 画面の中央に配置 */
  left: 50%;
  transform: translate(-50%, -50%); /* 文字を中央揃え */
  color: white; /* 文字の色を白に設定 */
  font-size: 2.3vw; /* 文字のサイズ */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  letter-spacing: 0.1em;
}

/*---------------------------------*/

#menu {
  text-align: center;
  background-color: #f8f8f8;
}

#menu h2 {
  font-size: 2.5rem;
  color: #3c803c;
  margin-bottom: 8%;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}

.menu-item {
  width: 44%; /* 2つ並べるために幅を48%に設定 */
  margin: 3%;
  display: flex;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: 0.3s ease;
}

.menu-item img {
  width: 40%;
  height: auto;
  border-radius: 8px 0 0 8px ;
}

.highlight-text {
  font-size: 1.5rem;
}

.menu-item p {
  width: 60%;
  white-space: pre-line; 
  font-size: 1vw;
  text-align: center;
  color: #666;
  margin: 0;
}

.menu-item:hover {
  transform: translateY(-10px);
}

footer {
  background-color: #3c803c;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
