/*---------------------------------*/

body {
    font-family: "Shippori Mincho", serif, 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  .top {
    text-align: center;
  }
  
  .top-line {
    width: 100%;
    height: 12px; 
    background-color: #3c803c;
    margin: 0; 
    padding: 0; 
  }
  
  .header {
    color: rgb(255, 255, 255);
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-size: 15px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
    color: #3c803c;
  }
  
/*---------------------------------*/
/*---------------------------------*/
  
  #menu {
    padding: 50px 20px;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  #menu h2 {
    font-size: 2.5rem;
    color: #3c803c;
    margin-bottom: 8%;
  }
  
  .menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .menu-item {
    width: 40%;
    margin: 10px;
    padding: 20px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.3s ease;
  }
  
  .menu-item img {
    width: 45%;
    height: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .highlight-text {
    font-size: 1.5rem;
  }

  .menu-item p {
    width: 60%;
    padding-left: 8%;
    white-space: pre-line; 
    font-size: 1vw;
    text-align: center;
    color: #666;
    margin: 0;
  }
  
  .menu-item:hover {
    transform: translateY(-10px);
  }
  

  footer {
    background-color: #3c803c;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  