/*------------------------------*/
body {
  font-family: "Shippori Mincho", serif, 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  align-items: center; /* ロゴとナビの垂直位置を揃える */
  text-align: left;
}

.top img{
  width: 16vw;
  margin-left: 1.5vw;
}

.top-line {
  width: 100%;
  height: 0.5vw; 
  background-color: #3c803c;
  margin: 0; 
  padding: 0; 
}

.header {
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3%;
  color: rgb(255, 255, 255);
  z-index: 10; /* 他のコンテンツより上に表示 */
  background-color: rgba(255, 255, 255); /* 白の半透明背景 */
  display: flex;
  justify-content: space-between; /* ロゴとナビを左右に配置 */
  align-items: center; /* 高さを中央揃え */
}

nav ul {
  list-style-type: none;
  display: flex; /* 横並びにする */
  gap: 3.5vw; /* アイテム間のスペースを調整 (例: 1remに設定) */
}

nav ul li a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  font-size: 0.9vw;
  white-space: nowrap; /* テキストが折り返されないように設定 */
}

nav ul li:last-child a {
  margin-right: 3vw; /* 右側に余白を追加 */
}

nav ul li a:hover {
  text-decoration: underline;
  color: #3c803c;
}

  
/*---------------------------------*/
/*---------------------------------*/
  
  #menu {
    padding: 50px 20px;
    padding-bottom: 10%;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  #menu h2 {
    font-size: 2.5rem;
    color: #3c803c;
    margin-bottom: 8%;
  }
  
  .menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .menu-item {
    width: 40%;
    margin: 10px;
    margin-bottom: 5%;
    padding: 20px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.3s ease;
  }
  
  .menu-item img {
    width: 45%;
    height: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .highlight-text {
    font-size: 1.5rem;
  }

  .menu-item p {
    width: 60%;
    padding-left: 8%;
    white-space: pre-line; 
    font-size: 1vw;
    text-align: center;
    color: #666;
    margin: 0;
  }
  
  .menu-item:hover {
    transform: translateY(-10px);
  }
  

  footer {
  background-color: #3c803c;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

  
