/* =========================
  共通設定
========================= */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  line-height: 1.7;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 48px;
}

/* =========================
  ページタイトル
========================= */

.page-hero {
  background: #d63f67;
  color: #fff;
  text-align: center;
  padding: 80px 20px 60px;
}

.page-hero h1 {
  font-size: 36px;
  letter-spacing: 0.1em;
}

/* =========================
  お知らせ一覧
========================= */

.news-list {
  max-width: 900px;
  margin: 80px auto;
  padding: 0 20px;
}

.news-row {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #eee;
  padding: 24px 0;

  display: grid;
  grid-template-columns: 120px 120px 1fr;
  gap: 16px;
  align-items: center;
}

.news-row:hover {
  background: #fafafa;
}


.news-row time {
  color: #999;
  font-size: 14px;
}

.news-row h2 {
  font-size: 18px;
  margin: 0;
}

/* タグ */

.tag {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 13px;
  color: #fff;
}

.tag.other {
  background: #999;
}

.tag.strawberry {
  background: #e94e77;
}

.tag.info {
  background: #f39c12;
}
