/*------------------------------*/
body {
  font-family: "Shippori Mincho", serif, Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  align-items: center; 
  text-align: left;
}

.top img {
  width: 16vw;
  margin-left: 1.5vw;
}

.top-line {
  width: 100%;
  height: 0.5vw; 
  background-color: #3c803c;
  margin: 0; 
  padding: 0; 
}

.header {
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3%;
  color: rgb(255, 255, 255);
  z-index: 10; 
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

nav ul {
  list-style-type: none;
  display: flex; 
  gap: 3.5vw;
}

nav ul li a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  font-size: 0.9vw;
  white-space: nowrap; 
}

nav ul li:last-child a {
  margin-right: 3vw; 
}

nav ul li a:hover {
  text-decoration: underline;
  color: #3c803c;
}

/*---------------------------------*/

.overviewphoto {
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden; 
}

.overviewphoto img {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overview-text {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.3vw; 
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
  text-align: center;
  letter-spacing: 0.1em;
}

/*---------------------------------*/

.section_companyinfo h2 {
  font-size: 2vw;
  text-align: center;
  font-weight: 300;
  padding: 5%;
}

.div_listflex {
  display: flex;
  flex-direction: column; 
  padding: 0 20% 10% 20%;
  font-size: 1.4vw;
}

.label {
  color: #3c803c; 
  width: 25%;
}

.div1{
  display: flex;
  border-bottom: 1px solid #cac6bd;
  padding: 1.5vw 0; 
  white-space: pre-line;
}


/*---------------------------------*/

footer {
  background-color: #3c803c;
  color: white;
  text-align: center;
  width: 100%;
}

.foo {
  font-size: 1vw;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 0;
  margin-bottom: 0;
}
