/*---------------------------------*/

body {
  font-family: "Shippori Mincho", serif, 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.top {
  text-align: center;
}


.top-line {
  width: 100%;
  height: 0.5vw; 
  background-color: #3c803c;
  margin: 0; 
  padding: 0; 
}

.header {
  color: rgb(255, 255, 255);
  padding: 1%;
}

nav ul {
  list-style-type: none;
  margin-top: 0.2%;
  padding: 0.6%;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 2%;
}

nav ul li a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  font-size: 0.9vw;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #3c803c;
}

/*---------------------------------*/
.mainphoto {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
}

.mainphoto img {
  position: absolute;
  bottom: 0; /* 画像の下端をコンテナの下に合わせる */
  left: 50%;  /* 画像を水平に中央配置 */
  transform: translateX(-50%); /* 水平中央揃え */
  min-height: 100%; /* 画像の高さが画面の高さより小さくならないように */
  width: auto; /* 横幅は自動調整 */
  height: 100%; /* 高さを画面に合わせる */
}

.mainphoto img:hover {
  filter: brightness(1); 
}

.in1 {
  padding: 5%;
  white-space: pre-line;
  line-height: 2;
  text-align: center;
  font-size: 1.8vw;
}

/*-------------------------------*/

.min2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-text {
  font-size: 200%;
}

.in2 {
  width: 45%;
  white-space: pre-line; 
  line-height: 1.5;
  text-align: center;
  font-size: 1.2vw;
}

.pho2 {
  width: 100%;
  max-width: 55vw;
  height: auto; 
  text-align: right;
  padding: 50px 0; 
}

.pho2 img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

/*-------------------------------*/

/*-------------------------------*/


.min3 {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-text {
  font-size: 200%;
}

.in3 {
  width: 45%;
  white-space: pre-line; 
  line-height: 1.5;
  text-align: center;
  font-size: 1.2vw;
}

.pho3 {
  width: 100%;
  max-width: 55vw;
  height: auto; 
  text-align: right;
  padding: 50px 0; 
}

.pho3 img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

/*-------------------------------*/

footer {
  background-color: #3c803c;
  color: white;
  text-align: center;
  width: 100%;
}

.foo {
  font-size: 1vw;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0;
}