/*------------------------------*/
body {
  font-family: "Shippori Mincho", serif, 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  align-items: center; /* ロゴとナビの垂直位置を揃える */
  text-align: left;
}

.top img{
  width: 16vw;
  margin-left: 1.5vw;
}

.top-line {
  width: 100%;
  height: 0.5vw; 
  background-color: #3c803c;
  margin: 0; 
  padding: 0; 
}

.header {
  position: absolute; /* 画像の上に重ねるため */
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3%;
  color: rgb(255, 255, 255);
  z-index: 10; /* 他のコンテンツより上に表示 */
  background-color: rgba(255, 255, 255, 0.4); /* 白の半透明背景 */
  display: flex;
  justify-content: space-between; /* ロゴとナビを左右に配置 */
  align-items: center; /* 高さを中央揃え */
}

nav ul {
  list-style-type: none;
  display: flex; /* 横並びにする */
  gap: 3.5vw; /* アイテム間のスペースを調整 (例: 1remに設定) */
}

nav ul li a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  font-size: 0.9vw;
  white-space: nowrap; /* テキストが折り返されないように設定 */
}

nav ul li:last-child a {
  margin-right: 3vw; /* 右側に余白を追加 */
}

nav ul li a:hover {
  text-decoration: underline;
  color: #3c803c;
}

/*-------------------------------*/

.mainphoto {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
}

.mainphoto img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 100%;
  width: auto;
  height: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%; /* 画面の中央に配置 */
  left: 50%;
  transform: translate(-50%, -50%); /* 文字を中央揃え */
  color: white; /* 文字の色を白に設定 */
  font-size: 2.3vw; /* 文字のサイズ */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  letter-spacing: 0.1em;
}

/*-------------------------------*/

.in1 {
  padding: 5%;
  white-space: pre-line;
  line-height: 2;
  text-align: center;
  font-size: 1.8vw;
}

/*-------------------------------*/

/*-------------------------------*/

footer {
  background-color: #3c803c;
  color: white;
  text-align: center;
  width: 100%;
}

.foo {
  font-size: 1vw;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0;
}
