/*------------------------------*/
body {
  font-family: 'Noto Sans JP', serif, 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.top {
  display: flex;
  justify-content: center; /* ロゴを中央に配置 */
  align-items: center;
  width: 100%;
}

.top img {
  width: 13vw;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  z-index: 10;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 10px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(90deg, #e9baf5 0%, #e9baf5 25%, #f5a0bc 25%, #f5a0bc 50%, #fa7e7e 50%, #fa7e7e 75%, #ffb8d6 75%, #ffb8d6 100%);
        background-size: 285px }

nav {
  margin-top: -5vw;
  display: flex;
  justify-content: space-between; /* 左右に分けて配置 */
}

.nav-left{
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  align-items: center;
  width: 50vw;
}

.nav-right{
  text-align: right;
  margin-left: 0;
  margin-right: auto;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2vw; /* アイテム間のスペースを調整 */
}

nav ul li {
  text-align: center;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a {
  color: rgb(56, 56, 56);
  text-decoration: none;
  font-size: 1.5vw;
  white-space: nowrap;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #a3596b;
}

html, body {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
}

/* 親に“確実な高さ”を与える */
.main-visual {
  width: 100%;
  height: 100svh;   /* スマホで最重要 */
  overflow: hidden;
}

/* picture が高さ0になるのを防ぐ */
.main-visual picture {
  width: 100%;
  height: 100%;
  display: block;
}

/* 画像本体 */
.main-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}




.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 7vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  letter-spacing: 0.1em;
}

.in1 {
  padding: 5%;
  white-space: pre-line;
  line-height: 2;
  text-align: center;
  font-size: 1.8vw;
}


/* sp */

.hamburger,
.sp-nav {
  display: none;
}
