/*---------------------------------*/

body {
  font-family: "Shippori Mincho", serif, 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.top {
  text-align: center;
}

.top-line {
  width: 100%;
  height: 12px; 
  background-color: #3c803c;
  margin: 0; 
  padding: 0; 
}

.header {
  color: rgb(255, 255, 255);
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  font-size: 15px;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #3c803c;
}

/*---------------------------------*/

.mainphoto img {
  width: 100vw;
  height: 50vw;
  object-fit: cover;
  text-align: center;
}

.in1 {
  padding: 50px;
  white-space: pre-line;
  line-height: 2;
  text-align: center;
  font-size: 2.5vw;
}

/*-------------------------------*/

.min2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-text {
  font-size: 200%;
}

.in2 {
  width: 45%;
  white-space: pre-line; 
  line-height: 1.5;
  text-align: center;
  font-size: 1.5vw;
}

.pho2 {
  width: 100%;
  max-width: 55vw;
  height: auto; 
  text-align: right;
  padding: 50px 0; 
}

.pho2 img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

/*-------------------------------*/

/*-------------------------------*/


.min3 {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-text {
  font-size: 200%;
}

.in3 {
  width: 45%;
  white-space: pre-line; 
  line-height: 1.5;
  text-align: center;
  font-size: 1.5vw;
}

.pho3 {
  width: 100%;
  max-width: 55vw;
  height: auto; 
  text-align: right;
  padding: 50px 0; 
}

.pho3 img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

/*-------------------------------*/

footer {
  background-color: #3c803c;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
